---
import "../styles/css/projects.css";
import projects from "../data/projects.json";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Projects - Moorad's website" active={1}>
	<section>
		<div class="title-lg">Projects</div>
		<div class="sub-title">
			A list of projects that I have worked on in the past. The projects
			displayed include personal and university assignments that have been
			polished.
		</div>
		<div class="structured-container">
			{
				projects.data.map((item) => (
					<ProjectCard
						title={item.title}
						label={item.label}
						description={item.description}
						buttons={item.buttons}
						icons={item.icons}
						image={item.image}
					/>
				))
			}
		</div>
	</section>
</Layout>
