---
import IconWithTooltip from "./IconWithTooltip.astro";

type buttonObject = {
    label: string;
    href: string;
};

type iconObject = {
    class_name: string;
    tooltip: string;
};

interface Props {
    title: string;
    label: string;
    description: string;
    buttons: buttonObject[];
    icons: iconObject[];
    image: string;
}

const { title, label, description, buttons, icons, image } = Astro.props;
---

<div class="structured-item">
    <img class="project-thumbnail" src={image} alt="" />
    <div class="inner-project-item">
        <div class="project-title">{title}</div>
        <div>{description}</div>
        <div class="project-icons">
            {
                icons.map((icon) => (
                    <IconWithTooltip
                        className={icon.class_name}
                        tooltipText={icon.tooltip}
                    />
                ))
            }
        </div>
        <div class="project-buttons">
            {
                buttons.map((btn) => (
                    <a class="no-decoration" href={btn.href} target="_blank">
                        <button class="primary">{btn.label}</button>
                    </a>
                ))
            }
        </div>
    </div>
</div>
